<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Lista VIPs</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 50px">
			<h1>Bem vindo ao sistema VIPs</h1>
			<div align="center">
				<a href="listavip" class="btn btn-lg btn-primary">Clique aqui
					para ver a lista de convidados</a>
			</div>
		</div>
	</div>

</body>
</html>